 {% extends 'hospital/Home.html' %}
 {% block content %}
 {% load static %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Hospital ID</th>
      <th scope="col">Number of ICU</th>
      <th scope="col">ICU Budget</th>
      <th scope="col">Vacancy Status</th>
    </tr>
  </thead>
  <tbody>
  {% for i in icuvac %}
    <tr>
      <td>{{i.H_ID}}</td>
      <td>{{i.Number_of_ICU}}</td>
      <td>{{i.ICU_Budget}}</td>
      <td>{{i.Vacancy}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

 {% endblock %}