{% load static %}

<style>
  .btn-light{
  font-size: 15px;
  color: #000;
  margin-right: 20px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'Home' %}">EmergencyCare</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{% url 'hospital' %}">Hospital</a>
        <a class="nav-link active" aria-current="page" href="{% url 'Services' %}">Services</a>
        <a class="nav-link active" aria-current="page" href="{% url 'ICUVac' %}">ICU Vacancy</a>
        <a class="nav-link active" aria-current="page" href="{% url 'DoctorList' %}">Doctor's List</a>
        <a class="nav-link active" aria-current="page" href="{% url 'Ambulance' %}">Ambulance</a>
      </div>
      </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-dark" type="submit">Search</button>
            </form>
    </div>
  </div>

  <span class="btn btn-light" style=" margin-right: 10px;">Hello, {{request.user}}</span>
  <span><a class="btn btn-danger" href="{% url 'logout' %}" style="margin-right: 10px;" >Logout</a></span>
</nav>